body {
  width: auto;
  height: 100%;
  margin: auto;
  text-align: center
}

#featured_property p {
  color: blue;
  width: 50%;
  margin-right: auto;
  margin-left: auto
}

/*header {
  text-align: center;
  margin: auto;
}*/

