body {
  width: auto;
  height: 100%;
  margin: auto;
  text-align: center
}
header a {
  padding: auto;
  background-color: green;
}

#featured-property p {
  width: 800px;
  margin-left: auto;
  margin-right: auto
}

/*header {
  text-align: center;
  margin: auto;
}*/

